.widget{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 100px;

    &.day{
        background-image: linear-gradient(to bottom left, #f4e04d 0%, white 30%);
    }
    &.night{
        background-image: linear-gradient(to bottom left, #01162E 0%, white 30%);
    }
    &.cold{
        background-image: linear-gradient(to bottom left, #20667D 0%, white 30%);
    }
    &.warm{
        background-image: linear-gradient(to bottom left, #E15E46 0%, white 30%);
    }
    &.fass{
        background-image: linear-gradient(to bottom left, #E15E46 0%, white 30%);
    }
    &.vome{
        background-image: linear-gradient(to bottom left, #20667D 0%, white 30%);
    }

    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .title{
        font-weight: bold;
        font-style: 14px;
        color: rgb(160, 160, 160);
    }

    .counter{
        font-style: 28px;
        font-weight: 300;
    }

    .link{
        width: max-content;
        font-style: 12px;
        border-bottom: 1px solid gray;
    }

    .icon{
        font-size: 20px;
        color: black;
    }
}